<h3>予定の新規追加</h3>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<%= render "shared/error", obj: @post %>

<%= form_with model: @post do |f| %>
	<table>
		<tr>
			<th><%= f.label :title ,"タイトル" %></th>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<th><%= f.label :start,"開始日" %></th>
			<td><%= f.date_field :start %></td>
		</tr>
		<tr>
			<th><%= f.label :end_date,"終了日" %></th>
			<td><%= f.date_field :end_date %></td>
		</tr>
		<tr>
			<th><%= f.label :all_day,"終日" %></th>
			<td><%= f.check_box :all_day %></td>
		</tr>
	<tr>
		<th><%= f.label :memo, "スケジュールメモ" %></th>
		<td><%= f.text_area :memo %></td>
	</tr>
	</table>

	<div>
		<ul>
			<li><p><%= f.submit "登録完了する"%></p></li>
			<li><p><%= link_to "キャンセル", :posts %></p></li>
		</ul>
<% end %>



	